BasedOnStyle: Google
AlignArrayOfStructures: Right
AlignConsecutiveBitFields: AcrossComments
AlignConsecutiveMacros: AcrossComments
BreakBeforeBraces: Stroustrup
DerivePointerAlignment: false
Standard: Latest