# directories to ignore
bin
build
data
presets
.vscode

# configuration files
imgui.ini

# ignore potentially big files
*.log
*.png
*.PNG
*.gif
*.GIF
*.jpg
*.JPG
*.jpeg
*.JPEG
*.tiff
*.TIFF
*.bmp
*.BMP
*.bin
*.binary