# don't ignore bin 'folder'
!*/bin
# but ignore things inside bin
*/bin/*
# while not ignoring things inside bin/data
!*/bin/data/

user/

*/build/
*/xcode/

*.log

*.sublime-project
*.sublime-workspace
*/.vs/

*.png
*.PNG
*.gif
*.GIF
*.jpg
*.JPG
*.jpeg
*.JPEG
*.tiff
*.TIFF
*.bmp
*.BMP

bin/
build/
