# anything named build
build
# distributed files
dist/*

*.tmp

*.log
*.png
*.PNG
*.gif
*.GIF
*.jpg
*.JPG
*.jpeg
*.JPEG
*.tiff
*.TIFF
*.bmp
*.BMP
*.bin
*.binary

# tracks when CMake needs to be reconfigured
.sources

apps/

